 <P>
 ・新たな視点を提供するアイデア。
 ・社会に与える影響の大きさ、将来性
 ・デザイン
 

 機能：感情日記を音声入力し→その声を元にストレス度を測定→ストレス度に応じた音楽を推薦


 コンセプト：


 社会課題：ストレスに気がつかずに過ごしてしまい（論文かなんかをできれば持ってくる）、限界になってから気がつく→ストレスを客観的に評価し
 それに応じてこまめにケアする必要がある

 このアプリの3つの機能：
 ・客観的なストレス評価：声を元に、Amivoice APIを使ってストレスを解析。客観的にストレス評価できるのは他のアプリにはない特徴
 ・音楽：人の安静時の心拍数と同じくらいのテンポの曲が最もリラックスできるという研究結果があるため
  ストレス度が高い場合には60~80bpmの音楽を推薦。
    ストレスを測定して終わりではなく、推薦された音楽を通じてリラックスできるのがこのアプリの大きな特徴
・感情日記：普段何があったかは覚えているが、感情まではきちんと覚えていなかったりする。感情日記をつけることで感情と向き合えたり、
感情を言語化することでストレス解消に繋がったりする。また、日記とストレス値を掛け合わせることでストレッサーを把握することができ
次に同じような状況になった時に、休憩をこまめに取るなどの対策を取ることができる。

ストレスは怪我と違って目に見えないため放置してしまいがちだが、このアプリならストレスを気分の波として可視化することができる。
このアプリを使うことで「忙しさに追われて自分の疲れに気がつかないまま過ごしてしまい、気づいた時には遅い」という状態を防ぐことができる

・身近でもストレスケアに困ってるという声を聞くため
・



社会全体のウェルビーイングの向上


・今年度中にユーザーテストを行いフィードバックを得てUIUXの改善を行なっていきたいと思っています。
現状、Webアプリで実装していて、プッシュ通知やウィジェットの表示が行えないため、セキュリティの強化も同時並行で行いながらユーザーテストでのフィードバックを活かしてモバイルアプリ版として実装して、数年以内にはリリースして世に広めたいと思っています。ReactNativeなどを使って、マルチプラットフォーム対応のモバイルアプリとして実装することでこのアプリの肝となるストレスチェックの習慣化をよりしやすくなると考えています。
過去に自分自身のストレスに対するセンサーがうまく働かずメンタルヘルスの悪化を招いてしまった経験があったり、身近にストレスケアに困っていてこのアプリを使いたいという人がいるため、リリースしたい



 </p>